spec/fixtures/cjs-syntax-error/syntax_error.js
spec/fixtures/esm-importing-commonjs-syntax-error/syntax_error.js
spec/fixtures/js-loader-import/*.js
spec/fixtures/js-loader-default/*.js
spec/fixtures/esm-reporter-packagejson/customReporter.js
