{
  "parserOptions": {
    "ecmaVersion": 11
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "block-spacing": "error",
    "func-call-spacing": [
      "error",
      "never"
    ],
    "key-spacing": "error",
    "no-tabs": "error",
    "no-whitespace-before-property": "error",
    "semi": [
      "error",
      "always"
    ],
    "space-before-blocks": "error"
  }
}
